<div class="h-full w-full flex flex-col gap-8">
  <div class="flex-0 flex justify-between">
    <h3 class="text-xl font-semibold">
      Libreria di {{ (this.currentUser$ | async)?.firstName }}
    </h3>

    <div>
      <span
        [routerLink]="['./add']"
        class="hover:underline cursor-pointer flex items-center"
      >
        <ng-icon name="heroPlusCircle"></ng-icon>
        Aggiungi libro
      </span>
    </div>
  </div>

  <div class="rounded-xl overflow-auto border shadow-xl">
    <table class="table-fixed w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-slate-50">
        <tr>
          <th scope="col" class="px-6 py-3">Titolo</th>
          <th scope="col" class="px-6 py-3">Autore</th>
          <th scope="col" class="px-6 py-3">ISBN</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of books$ | async" class="bg-white border-b">
          <td scope="row" class="px-6 py-4 font-medium text-gray-900">
            {{ item.book?.title }}
          </td>
          <td class="px-6 py-4">{{ item.book?.author }}</td>
          <td class="px-6 py-4">{{ item.book?.isbn }}</td>
          <td>
            <div class="flex justify-evenly">
              <div
                class="p-2 border rounded-full hover:bg-slate-50 flex justify-center align-middle cursor-pointer"
              >
                <ng-icon name="heroMagnifyingGlass"></ng-icon>
              </div>

              <div
                class="p-2 border rounded-full hover:bg-slate-50 flex justify-center align-middle cursor-pointer"
              >
                <ng-icon name="heroXMark"></ng-icon>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
